<div class="navbar">
    
    <a href="{{ url_for('home') }}">
    <img class="logo-img"  src="{{ url_for('static', filename='images/logo.png') }}" />
    </a>
    <span class="hamburger">&#9776;</span> <!-- Hamburger Icon -->
    <div class="navbar-right" id="navbarRight">
        <span class="closebtn">&times;</span>
        <a href="{{ url_for('home') }}">Home</a>
        <!-- Dropdown for News -->
        <a href="{{ url_for('mylist') }}">My List</a>
        <a href="{{ url_for('notes') }}">Notes</a>
        <a href="{{ url_for('shop') }}">Shop</a>
        {% if 'user' in session%}
        <div class="dropdown">
            <a class="dropbtn" id="dropBtn">Account</a>
            <div class="dropdown-content">
                <a href="#news1">Profile</a>
                <a href="{{ url_for('reset_password') }}">Reset Password</a>
                <a href="{{ url_for('profile') }}">Profile</a>
                <a href="#news2">Settings</a>
                <a id="sign-out-btn" href="{{ url_for('logout') }}">Logout</a>
            </div>
        </div>
        {%else%}
        <div class="dropdown">
            <a href="{{ url_for('login') }}" class="dropbtn" id="dropBtn">Login</a>
            <div class="dropdown-content">
                <a href="{{ url_for('reset_password') }}">Reset Password</a>
            </div>
        </div> 
        {% endif %}
    </div>
</div>